#Database credentials
POSTGRES_USER=spotify_user
POSTGRES_PASSWORD=spotify_password
POSTGRES_DB=spotify_recommendation_db
DATABASE_URL=postgresql://spotify_user:$spotify_password@db:5432/spotify_recommendation_db

# Spotify API credentials
SPOTIFY_CLIENT_ID=spotify_client_id
SPOTIFY_CLIENT_SECRET=spotify_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback

# Last.fm API credentials
LASTFM_API_KEY=lastfm_api_key
LASTFM_API_SECRET=lastfm_api_secret

# Scheduler
SCHEDULER_INTERVAL=10

# Logging
LOG_LEVEL=INFO