#Database credentials
POSTGRES_USER=spotify_user
POSTGRES_PASSWORD=spotify_password
POSTGRES_DB=spotify_recommendation_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Spotify API credentials
SPOTIFY_CLIENT_ID=spotify_client_id
SPOTIFY_CLIENT_SECRET=spotify_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback

# Last.fm API credentials
LASTFM_API_KEY=lastfm_api_key
LASTFM_API_SECRET=lastfm_api_secret

# Scheduler
SCHEDULER_INTERVAL=10

# Logging
LOG_LEVEL=INFO